nav {
    background-color: #333;
    padding: 10px;
  }
  
  .menu-btn {
    display: inline-block;
    cursor: pointer;
  }
  
  .menu-btn img {
    width: 30px;
    height: 30px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  