/*selector universal*/
*{
    margin:0;
    margin: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(234, 177, 224);
    color: rgb(0, 0, 0);
}
/*selector de id*/

#contenedor{
height: 750px;
background-color: rgb(255, 227, 251);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(255, 251, 194);

margin: 1em;
border-radius: 5px;
text-align: center;

}

.pie {

    height: 20px;
    width: 90%;
    background-color: rgb(119, 177, 228);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}
.pie h4{
    padding: 15px;
    font-size: 15px;
    background-color: rgb(240, 161, 220);
   
}