/*selector universal*/
*{
    margin:0;
    margin: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
}
/*selector de id*/

#contenedor{
height: 2500px;
background-color: rgb(196, 196, 196);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(96, 150, 221);
margin: 1em;
border-radius: 5px;
text-align: center;


}
#MENU{
    height: 3%;
    background-color: rgb(212, 245, 255);
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/

ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}
img:hover{
    width: auto;
}
li a:hover{

    color: rgb(61, 108, 194);
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}
/*selector de clase*/

.img{

    width: 50%;
    border-radius: 110%;
    justify-items: center;
    

}
.texto{

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #4e4e4e;

}
.pie {

    height: 20px;
    background-color: rgb(174, 209, 240);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}
.pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: azure;
}
/*card*/
.card{
    /*sombra derecha-izquierda*/

    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;

}

.card :hover {
max-width: 310px;
}

.card img { 
    background-color: rgb(255, 255, 255);

}


.title {
    color: rgb(0, 0, 0);
    font-size: 40px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(0, 0, 0);
    background-color: #757575;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.scope-one-regular{
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}
.linea{
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
}
.sarina-regular {
    font-family: "Sarina", cursive;
    font-weight: 400;
    font-style: normal;
  }

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.item{
    width: 1400px;
    height: 500px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}



.container{
    max-width: 1110px;
    margin: 0 auto;
    height: 0px;
    }
    

    .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    }

    .fondo{
        padding: 32px 0;
        background-color: rgb(187, 217, 217);
        }
    
        .fondo{
        padding: 80px 0;
        }

    
    .logo{
    font-size: 30px;
    color: rgb(122, 120, 219);
    font-weight: 800;
    text-transform: uppercase;
    }
    .menu .navbar ul li{
    position: relative;
    float: left;
    }
    .menu .navbar ul li a{
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    display: block;
    }
    .menu .navbar ul li a:hover{
    color: rgb(110, 13, 13);
    }
    #menu{
    display: none;
    }
    .menu-icono{
    width: 25px;
    }
    
    .menu label{
     cursor: pointer;
    display: none;
    }
    #menu:checked ~ .navbar{
    display: initial;
    }
    
    @media(max-width:991px)
    {
     .menu{
     padding: 30px;
     }
     .menu label{
     display: initial;
     }
    .menu .navbar{
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background-color:rgb(170, 170, 170);
     display: none;
   }
    
    .menu .navbar ul li{
    width: 100%;
    }
    
    #menu:checked ~ .navbar{
    display: initial;
    
    }
    }

  