/*selector universal*/
*{
    margin:0;
    margin: 0;
}
/*selector de  etiqueta*/

body{
    background-color: antiquewhite;
    color: black;
}
/*selector de id*/

#contenedor{
width: 900px;
height: 5000px;
background-color: rgb(196, 196, 196);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(173, 183, 243);
margin: 1em;
border-radius: 5px;
text-align: center;


}
#MENU{
    height: 45px;
    background-color: rgb(212, 245, 255);
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/

ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}
img:hover{
    width: 50%;
}
li a:hover{

    color: rgb(235, 167, 180);
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}
/*selector de clase*/

.img{

    width: 50%;
    border-radius: 30px;
    justify-items: center;

}
.texto{

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}
.pie {

    height: 20px;
    background-color: rgb(174, 209, 240);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}
.pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: azure;
}

@media(max-width:991px)
{
 .menu{
 padding: 30px;
 }
 .menu label{
 display: initial;
 }
.menu .navbar{
 position: absolute;
 top: 100%;
 left: 0;
 right: 0;
 background-color:rgb(170, 170, 170);
 display: none;
}

.menu .navbar ul li{
width: 100%;
}

#menu:checked ~ .navbar{
display: initial;

}
}
