*{
    box-sizing: border-box;
}

.contenedorFlex{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;

    background-color: rgb(139, 207, 207);
    padding: 10px;
    border: 2px solid black;
    
}

.contenedorFlexJ{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(203, 124, 240);
    padding: 10px;
    border: 2px solid black;
    
}

.contenedorFlexEnd{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:end;

    background-color: rgb(203, 124, 240);
    padding: 10px;
    border: 2px solid black;
    
}

.contenedorFlexInicio{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:start;

    background-color: rgb(203, 124, 240);
    padding: 10px;
    border: 2px solid black;
    
}

.contenedorFlexSpace-B{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:space-between;

    background-color: rgb(203, 124, 240);
    padding: 10px;
    border: 2px solid black;
    
}

.contenedorFlexSpace-A{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:space-around;

    background-color: rgb(124, 240, 240);
    padding: 10px;
    border: 2px solid black;
    
}






.contenedorFlexAI-center{
    display: flex;
    width: 500px;
    height: 400px;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;

    background-color: rgb(148, 28, 204);
    padding: 10px;
    border: 2px solid black;
    
}


.contenedorFlexAI-flexEnd{
    display: flex;
    width: 500px;
    height: 400px;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-end;

    background-color: rgb(128, 240, 124);
    padding: 10px;
    border: 2px solid black;
    
}

.contenedorFlexnu{
    display: flex;
    width: 500px;
    height: 400px;
    flex-direction: row;
    align-items: center;
    background-color: rgb(172, 255, 244);
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    justify-content: space-around;

}

.item:hover{

    background-color: rgb(207, 130, 172);
}

.item{
    background-color: aqua;
    width:100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;

    line-height: 25px;
    font-size: 25px;
}