/*selector universal*/
*{
    margin:0;
    margin: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(136, 186, 217);
    color: rgb(0, 0, 0);
}
/*selector de id*/

#contenedor{
height: 600px;
background-color: rgb(196, 196, 196);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(96, 150, 221);
margin: 1em;
border-radius: 5px;
text-align: center;

}