*{
    margin: 0;
    padding: 0;
}

.titulo{
    font-size: 40px;
    text-align: center;
}
.subtitulo{
    margin: 10px;
    text-align: center;

}
.img{
    display: block;
    width: 90%;
    margin: 0  auto;
    margin-top: 30px;
}

.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}
@media screen and (max-width:1200px) {
    body{
        background-color: rgb(36, 35, 35);
        color: rgb(89, 89, 185);
    }
    
    .titulo{
        font-size: 30px;
    }
    
} 
@media screen and (max-width:1200px) {

    body{
        background-color: blueviolet;
        color: blue;
    }

    .titulo{
        font-size: 30px;
    }
    
} 

@media screen and (max-width:988px){
    
    .titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;
    }
}


@media screen and (max-width:600px){
    
    body{
        background-color: rgb(104, 36, 110);
        color: rgb(151, 59, 170);
    }
    
    .contener{
        background-color: rgb(218, 156, 197);

    }
    .titulo{
        font-size: 15px;
    }

    .img{
        width: 50%;
    }
}
@media screen and (max-width:400px){
    
    body{
        background-color: rgb(193, 117, 223);
        color: rgb(112, 61, 97);
    }
    
    .contener{
        background-color: rgb(121, 83, 106);

    }
    .titulo{
        font-size: 10px;
    }
    .img{
        width: 30%;
    }
}